<div class='wishlist-container '>
    <h1 class='text-center'>Wish List</h1>
    <hr>
    <div class="form-header">
        <div class="text-center">
            <h3>
            Search Books that you want to add to your wish list.
        </h3>
        </div>
        <br>
        <form ng-submit='search()' class='col-lg-8 col-lg-offset-2'>
            <div class="form-group">
                <!-- <label class="control-label" for="name" >Search</label> -->
                <input type="text" class="form-control text-center" id='name' ng-model='wish.search' placeholder='Search by title or author name'>
            </div>
            <div class="serach-button-container text-right">
                <button class='btn btn-raised btn-primary' type='submit'>Search Book</button>
            </div>
        </form>
        <br>
    </div>

    <div class="result-container col-xs-9 col-xs-offset-1">
        <div class="serach-result" ng-repeat='book in books'>
            <div class="search-result-image">
                <img ng-src={{book.volumeInfo.imageLinks.thumbnail}} alt="" />
            </div>
            <!-- <a href={{book.selfLink}} target='_blank'>checkout</a> -->
            <!-- <p>id:{{book.id}}</p> -->
            <!-- <a href={{book.saleInfo.buyLink}} target='_blank'>Buy it?</a> -->
            <p><b>Author/s:</b> {{book.volumeInfo.authors[0]}}</p>
            <p><b>Title:</b> {{book.volumeInfo.title}}</p>
            <p><b>Sub Title:</b> {{book.volumeInfo.subtitle}}</p>
            <p ng-show='isSecondAuthor(book, 1)'>{{book.volumeInfo.authors[1]}}</p>
            <p ng-show='isSecondAuthor(book, 2)'>{{book.volumeInfo.authors[2]}}</p>
            <p><b>Category:</b> {{book.volumeInfo.categories[0]}}</p>
            <p><b>Description:</b> {{book.volumeInfo.description}}</p>
            <div class="button-container text-center">
                <button class='btn btn-raised btn-success' ng-click='addToWhishList(book)'>Add to whish list</button>
            </div>
            <hr>
        </div>
    </div>

</div>
