<div class="books-detail-container">
    <div class="book-container">
        <div class="owner">
            <img ng-hide='!bookDetailFromDb.owner.image' ng-src={{bookDetailFromDb.owner.image}} alt="" ui-sref='profile.friendDetail({id: bookDetailFromDb.owner._id})' style='cursor: pointer' />
            <img ng-show='!bookDetailFromDb.owner.image' ng-src='https://lh3.googleusercontent.com/-O6osqAarBVc/AAAAAAAAAAI/AAAAAAAAAAA/72ZfpsMiU74/photo.jpg' ui-sref='profile.friendDetail({id: bookDetailFromDb.owner._id})' style='cursor: pointer' alt="" />
            <a ui-sref='profile.friendDetail({id: bookDetailFromDb.owner._id})'><h4>{{bookDetailFromDb.owner.firstName}} {{bookDetailFromDb.owner.lastName}}</h4></a>
            <button ng-if='currentUser._id==bookDetailFromDb.owner._id' ng-click='deleteOneBook(bookDetailFromDb._id)' class='btn btn-xs'><span class='glyphicon glyphicon-trash'></span></button>
        </div>
        <div class="feed-image">
            <img ng-src={{bookDetails.volumeInfo.imageLinks.thumbnail}} alt="" />
        </div>
        <div class="text-container">
            <br>
            <p><b>Author/s:</b> {{bookDetails.volumeInfo.authors[0]}}</p>
            <p><b>Title:</b> {{bookDetails.volumeInfo.title}}</p>
            <p><b>Sub Title:</b> {{bookDetails.volumeInfo.subtitle}}</p>
            <p ng-show='isSecondAuthor(bookDetails, 1)'>{{bookDetails.volumeInfo.authors[1]}}</p>
            <p ng-show='isSecondAuthor(bookDetails, 2)'>{{bookDetails.volumeInfo.authors[2]}}</p>
            <p><b>ISBN:</b> {{bookDetails.industryIdentifiers[0].identifier}}</p>
            <p><b>publishedDate:</b> {{bookDetails.volumeInfo.publishedDate}}</p>
            <a href={{bookDetails.accessInfo.webReaderLink}} target='_blank'>Sample Read</a>
        </div>
        <div class="">
            <p class='description'><b>Description:</b> {{bookDetails.volumeInfo.description}}</p>
        </div>
        <div class="reaction-buttons" ng-init='test=true'>
            <div class="col-xs-6 col-lg-8" id='readit'>
                <button type="button" class='btn btn-success readit active' ng-click='addReadIt(bookDetailFromDb._id)'>Recommend
                    <span class='badge'>{{bookDetailFromDb.readit.length}}</span>
                </button>
            </div>
            <div class="col-xs-3 comments" style='cursor:pointer'>
                <a ng-show='bookDetailFromDb.comments.length < 2' ng-click='test=!test'>{{bookDetailFromDb.comments.length || ''}} comment</a>
                <a ng-show='bookDetailFromDb.comments.length > 1' ng-click='test=!test'>{{bookDetailFromDb.comments.length || ''}} comments</a>
            </div>
            <div class="col-xs-1 like-btn">
                <button ng-class="checkIfUpVoted(bookDetailFromDb) ? 'selected' : 'notSelected'" ng-click='addLike(bookDetailFromDb._id)' type="button" class='btn btn-success likes'>
                    <i class="fa  fa-thumbs-o-up" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-xs-1 like-btn">
                <button ng-class="checkIfDownVoted(bookDetailFromDb) ? 'selected2' : 'notSelected2'" ng-click='disLike(bookDetailFromDb._id)' type="button" class='btn btn-success disliked'>
                    <i class="fa  fa-thumbs-o-down" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <div class="comments-container">
            <div class="row main" ng-repeat='comment in bookDetailFromDb.comments' ng-hide='test'>
                <div class="comment-header col-xs-1">
                    <img ng-src={{comment.by.image}} alt="" />
                </div>
                <div class="comment-main col-xs-10">
                    <span>{{comment.by.firstName}} {{comment.by.lastName}}</span><span class='comment-date'>{{comment.createdAt | date : 'short'}}</span>
                    <p>{{comment.content}}</p>
                </div>
                <hr/>
            </div>
            <form class='form-inline' ng-submit='addComment(comment, bookDetailFromDb._id)'>
                <div class="form-container row">
                    <div class="form-group col-xs-1 hidden-xs">
                        <img ng-src={{currentUser.image}} alt="" />
                    </div>
                    <div class="form-group col-xs-10">
                        <textarea type="text" class="form-control" ng-model='comment' placeholder="Add comment"></textarea>
                    </div>
                    <div class="form-group col-xs-1">
                        <button class='send btn btn-success '><span class='glyphicon glyphicon-send'></span></button>
                    </div>
                </div>
            </form>
        </div>
        <br>
    </div>
</div>
