<div class='following-container '>
    <h2 class='text-center'>Following</h2>
    <hr>
    <div class='col-xs-12 col-lg-3 col-md-4 following-container' ng-repeat='user in currentDetails.following | filter:search | orderBy:sortOrder track by $index'>
        <div class="following_user text-center">
            <img ng-hide='!user.image' ng-src={{user.image}} alt="" ui-sref='profile.friendDetail({id: user._id})' style='cursor: pointer' />
            <img ng-show='!user.image' ng-src='https://lh3.googleusercontent.com/-O6osqAarBVc/AAAAAAAAAAI/AAAAAAAAAAA/72ZfpsMiU74/photo.jpg' ui-sref='profile.friendDetail({id: user._id})' style='cursor: pointer' alt="" />
            <div class="profile-meta">
                <div class="name-line" style='cursor: pointer'>
                    <a ui-sref='profile.friendDetail({id: user._id})'><h4><b>{{user.firstName}} {{user.lastName}}</b></h4></a>
                </div>
                <div class="address-line">
                    <h6>{{user.address.city}} {{user.address.state}}</h6>
                </div>
            </div>
            <div class="follow-container" ng-show='showIfNotUser(user._id)'>
                <div class="text-center">
                    <button ng-show="checkIfFollowed(user._id)" class=" btn  btn-success following" href="#" ng-click="unfollow(currentUser._id, user._id)">following</button>
                    <button ng-hide="checkIfFollowed(user._id)" class="btn  btn-success" href="#" ng-click="follow(currentUser._id, user._id)">follow</button>
                </div>
                <br>
            </div>
            <div class="followers text-left">
                <div class="col-xs-6 text-right">
                    <span class='text-right'>Followers <span class="badge">{{user.followers.length}}</span></span>
                </div>
                <div class="col-xs-6 text-left">
                    <span class=''>Following <span class="badge">{{user.following.length}}</span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center" ng-show='checkFollowing()'>
        <h3 class 'text-center'>Users whom you are following will apear here.<br><br>Browse for users to follow!!</h3>
    </div>
</div>
