<form class="form-inline">
    <div class="form-group list-group">
        <div class="input-group">
            <input type="text" ng-model='search' class="form-control text-center" id="exampleInputAmount" placeholder="Search">
        </div>
        <div style='cursor: pointer' ng-repeat='user in users | filter:search | orderBy:sortOrder track by $index' class='list-group-item' ui-sref='profile.friendDetail({id: user._id})'>
            <div class="list-group-item">
                <div class="row-picture">
                    <img class="circle" ng-src={{user.image}} alt="">
                </div>
                <div class="row-content">
                    <p class="list-group-item-text">{{user.firstName}} {{user.lastName}}</p>
                    <p class="list-group-item-text">{{user.email}}</p>
                    <p class="list-group-item-text miles">{{user.distance  || user.address.city}} </p>
                </div>
            </div>
            <!-- <hr class='friendList_hr'> -->
        </div>
        <!-- <hr> -->
    </div>
</form>
