<div class="friendDetail_container">
    <div class="single_user">
        <!-- <img ng-src={{singleUser.image}} alt="" /> -->
        <img  ng-hide='!singleUser.image' ng-src={{singleUser.image}} alt="" />
        <img  ng-show='!singleUser.image' ng-src='https://lh3.googleusercontent.com/-O6osqAarBVc/AAAAAAAAAAI/AAAAAAAAAAA/72ZfpsMiU74/photo.jpg' alt="" />
        <div class="profile-meta">
            <div class="name-line">
                <h4><b>{{singleUser.firstName}} {{singleUser.lastName}}</b></h4>
            </div>
            <div class="">
                <h6>{{singleUser.title}}</h6>
            </div>
            <div class="address-line">
                <h6>{{singleUser.address.city}} {{singleUser.address.state}}</h6>
            </div>
        </div>
    </div>
    <div ng-show='showIfNotUser(singleUser._id)' class="additional-info">
        <button ng-show="flg_unfollow" class=" btn  btn-success following" href="#" ng-click="unfollow(currentUser._id, singleUser._id)">following</button>
        <button ng-hide="flg_unfollow" class="btn  btn-success" href="#" ng-click="follow(currentUser._id, singleUser._id)">follow</button>
        <button class='btn  btn-success' type="button" name="button">Private Message</button>
    </div>
    <br>
    <div class="interest">
        <h4>About</h4>
        <hr>
        <p>
            {{singleUser.about}}
        </p>
    </div>
    <div class="books-list">
        <h4>Books</h4>
        <hr>
        <div class="single_book" ng-repeat='book in singleUser.books' style='cursor:pointer' ui-sref='profile.bookDetail({googleId: book.googleId, id:book._id})'>
            <img ng-show='!book.thumbnail' ng-src={{book.cover}} alt="" />
            <img ng-show='!book.cover && book.thumbnail' ng-src={{book.thumbnail}} alt="" />
            <div class="">
                <p>Title: {{book.title}}</p>
                <p ng-show='!book.authors'><b>Author/s</b> {{book.author}}</p>
                <p ng-show='!book.author'><b>Author/s</b>: {{book.authors[0]}}</p>
                <p ng-show='!book.author && book.authors[1]'><b>Author/s</b>: {{book.authors[0]}}</p>
            </div>
        </div>
    </div><br>
    <div class="wish-list">
        <h4>Wish List</h4>
        <hr>
        <div class="single_book" ng-repeat='book in singleUser.wishList' ui-sref='profile.bookDetail({id: book.googleId})' style='cursor:pointer'>
            <img  ng-src={{book.thumbnail}} alt="" />
            <div class="">
                <p><b>Title/s</b>: {{book.title}}</p>
                <p><b>Author/s</b>: {{book.authors[0]}}</p>
            </div>
        </div>
    </div>
</div>
