<div class=" homesplash">
    <section class='header'>
        <div class="row">
            <div class="col-xs-0 col-lg-6 col-lg-offset-1">
                <h1 class='logo'><i class="fa fa-book" aria-hidden="true"></i> My shelf</h1>
                <h1>Exchange Books with friends and neighbors</h1>
            </div>
            <div class="col-xs-12 col-lg-4">
                <div class=' '>
                    <div class="login_container ">
                        <form class="form-horizontal" ng-submit='loginForm(user)'>
                            <fieldset>
                                <legend class='text-center'>Login</legend>
                                <div class="form-group">
                                    <label for="inputEmail" class="col-md-2 control-label">Email</label>

                                    <div class="">
                                        <input type="email" class="form-control" id="inputEmail" placeholder="" ng-model='user.email' required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword" class="col-md-2 control-label">Password</label>

                                    <div class="">
                                        <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model='user.password' required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <button type="submit" class="btn btn-lg btn-block btn-raised btn-primary">Login</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <br>
                <div class="returning-user">
                    <p>
                        <a type="button" class=" " ui-sref='register'>Register</a> If you don't have an account.
                    </p>
                </div>

            </div>
            <div class="row">
                <div class="scroll-down col-xs-12 text-center">
                    <i class="fa fa-chevron-down fa-3x" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </section>
    <section class='about '>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 text-center">
                <h2 class='text-center'>My Shelf</h2>
                <h1>My Shelf is an app where you can exchange books that you have already read with books that you wish to read based on your interest or location.</h1>
            </div>
        </div>
    </section>
    <section class='intro '>
        <div class="row">
            <h2 class='text-center'>How does it work?</h2>
            <div class="col-xs-12 col-lg-4 col-lg-offset-1 text-center">
                <img class='about-image' ng-src='http://i.imgur.com/mPka3Ce.png' alt="" />
            </div>
            <div class="col-xs-12 col-lg-7 how-it-works">
                <h3>
                    If you have a book that you already read and wanted to exchange it with friends or people who live near by, you can post your book and specify what you want in return.<br><br>When you post a book you can choose if you are giving the book away for free, exchange it with your wish list or specify your request.
                </h3>
            </div>
        </div>
    </section>
    <section class='detail'>
        <div class="row">
            <h2 class='text-center'>Broden Your Circle</h2>
            <div class="col-xs-12 col-lg-6 col-lg-offset-1">
                <h3>
                    To Increase chances of getting books that you like to read, you can search other users based on thier interest, distance from your location and add them to your circle.<br><br>You will get updates from other users that you are following and you can send them direct message from the app.
                </h3>
            </div>
            <div class="col-xs-12 col-lg-4 text-center">
                <img class='about-image' ng-src='http://i.imgur.com/UkE7INh.png' alt="" />
            </div>
        </div>
    </section>
    <section class='footer text-center'>
        <div class="col-xs-6">
            <p><a href="http://www.github.com/tsinat/myShelf" target='_blank'><i class='fa fa-2x fa-github-square'>Source code</i></a></p>
        </div>
        <div class="col-xs-6">
            <h4 class='text-center'>© 2016 www.tsinatzeree.com | All Rights Reserved</h4>
        </div>
    </section>
</div>
