<div class=' profile'>
    <!-- <div class="row"> -->
        <div class="col-xs-8 col-lg-2" ng-if="active" >
            <div class="profileholder">
                <br>
                <div class="image_container">
                    <img class='profile_picture' ng-src={{currentUser.image}} alt="" />
                    <span ui-sref="profile.profileImageUpload" class="btn btn-default editProfile"><span class='glyphicon glyphicon-edit'></span></span>
                </div>
                <h5>{{currentUser.firstName}}  {{currentUser.lastName}}</h5>
                <h5>{{currentUser.lat}}  {{currentUser.lng}}</h5>

            </div>
            <div class="profile_navigator">
                <ul>
                    <li><a ui-sref="profile.profileEditor" ng-click='showForm()'>Edit Profile</a></li>
                    <li><a ui-sref="profile.listBooks">My Collection</a></li>
                    <li><a ui-sref="profile.following">Following</a></li>
                    <li><a ui-sref="profile.followers">Followers</a></li>
                    <li><a ui-sref="profile.newBook">Add new book</a></li>
                    <li role="presentation" class="active"><a href="">Notifications <span class="badge"> 42</span></a></li>
                </ul>
            </div>
        </div>
        <div class="profile_main" ng-class="active?'col-lg-7 col-xs-4':'col-lg-9 col-xs-12'">
            <!-- <button type="button" name="button" ng-click="active = !active" ng-init="active=true">toggle</button> -->
            <div ui-view="main"></div>
        </div>
        <div class="profile_right col-xs-0 col-lg-3">
            <div ui-view="side"></div>
        </div>
    <!-- </div> -->
    <div class="footer_div">
        <div class="text-center">
            <a href="http://www.tsinatzeree.com" target='_blank'><p>www.tsinatzeree.com</p></a>
        </div>
    </div>
</div>
