<div class=' profile'>
    <div class="row">
        <div class="profile_left col-xs-8 col-lg-2" ng-if="active" >
            <!-- <div class="profileholder">
                <br>
                <div class="image_container">
                    <img class='profile_picture' ng-hide='!currentUser.image' ng-src={{currentUser.image}} alt="" />
                    <img class='profile_picture' ng-show='!currentUser.image' ng-src='https://lh3.googleusercontent.com/-O6osqAarBVc/AAAAAAAAAAI/AAAAAAAAAAA/72ZfpsMiU74/photo.jpg' alt="" />
                    <span ui-sref="profile.profileImageUpload" class="btn btn-default editProfile"><span class='glyphicon glyphicon-edit'></span></span>
                </div>
                <h5>{{currentUser.firstName}}  {{currentUser.lastName}}
                    <span class='edit-profile'><a ui-sref="profile.profileEditor" ng-click='showForm()'><span class='glyphicon glyphicon-edit'></span></a></span>
                </h5>
            </div> -->
            <div class="profile_navigator">
                <ul style='cursor:pointer'>
                    <li ui-sref="profile.booksFeed">Books Feed </li>
                    <li ui-sref="profile.users"><i class="fa fa-search" aria-hidden="true"></i> Search friend </li>
                    <li ui-sref="profile.addBook"><i class="fa fa-plus" aria-hidden="true"></i> Add Book </li>
                    <li ui-sref="profile.listBooks" ng-click="active = !active"><i class="fa fa-book" aria-hidden="true"></i> My shelf </li>
                    <li ui-sref="profile.myWishList">Wish List </li>
                    <li ui-sref="profile.addWishList">Add Wish List </li>
                    <li ui-sref="profile.following({id:currentUser._id})">Following </li>
                    <li ui-sref="profile.followers({id:currentUser._id})">Followers </li>
                    <li role="presentation" class="active">Inbox <span class="badge"> 42</span> </li>
                </ul>
            </div>
        </div>
        <div class="profile_main " ng-class="active?'col-lg-7 col-xs-4':'col-lg-9 col-xs-12'">
            <!-- <button type="button" name="button" ng-click="active = !active" ng-init="active=true">toggle</button> -->
            <div ui-view="main" ng-view ng-class='slideup' autoscroll="true"></div>
        </div>
        <div class="profile_right col-xs-0 col-lg-3">
            <div ui-view="side" autoscroll="true"></div>
        </div>
    </div>
</div>
<div class="footer_div">
    <div class="text-center">
        <a href="http://www.tsinatzeree.com" target='_blank'><p>www.tsinatzeree.com</p></a>
    </div>
</div>
