<!DOCTYPE html>
<html>

<head>
    <title> Myshelf</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAAD8AAAA/CAYAAABXXxDfAAAGq0lEQVRoQ+1bz28TVxD+XtT1papi
RKhKOeAc4EBbJVAhtfSQzQEOhYqkUuz2hHPAPib8BUn+gjhHm0OcUxtziCNBD73EvtCqqK0joAeo
FOcASEUIR/1xcBCvml02dux9+2bX625QGSlypH373nwz82bmzZsV+B+T6Dv2UmEMQpiQMgEgYf0K
Qf+3SMo6hKgDsH+lrCCZqfabt/DBry3Hsbt7BcAEALNHABUAZRjGCianGz3O1fV6eOBvXDfx8uUM
hCDQ4ZOUZQwMLGHqKgkkFOodPIGWci4ELXMBVSDEQhhCCA6ezLvZXO6bpnWiIEuIxaZ72Q7BwK/m
JyDEMoC4jsc+P29AymmksuUg6/gHv5pfhBCzQRbr2ztS5pDKXvM7Px+87cU3AIz6XcQZPxo/jEEj
1vV69emToFO2v1eDYYz72QY88AGBXz52HObQUZjvvg8C7kWN3SYqfzxG5ekTrD/eRv3vP4MIxJcA
9OB9Ak+8/Q7mTp3BxLEE4i5a5iIqP6pj6ff7lkB8ElsAevClwq8cUyegBHr25Ec+efUeTpaw8Nsv
foVQQzJzWseIN/hSIQdgRjcJaXn57FhPmtatkXtw1xICbQ8mLSGZ8XTMavB2OFvTLUSg04mTumGh
PK81nmH6ThX0yyIpJ73CoDt4e59vecVxMvO1zy7APHKUxUdYg0jz45WbXAE0YBjDqgjgDn41v+aV
uRHwDfOS1oOHBbhzHl8CoEwwlZ1046UbvJ2rUzxX0tq585Y37ySzchN6D8oTyUj8MHKjnyoH+xKA
EONuZ4FuXksFAq48is6fOoO5Dz52ZUrcuM5Dxhg1aBjIjZ7z9Ce092kLMJwg1QfGO5fdD16jdUpW
NsYuKlkPE/zYkaN7wL0c6tLDe5it/aAXp4v294MvFeiAcFk109bnX4GSGBWFDb5iXrIcG4Gj/1U0
Xr3FyQPWkczsqzW0wNse/rlqAUpeFkc+8ZRwP8DTguRLvMBTIkTmryXDONTu+Vvgb+RnIcViUK3T
e1GBp7VZ2hfyGqaylLhZ1AJfKlB5aMwNPO05SmZ0FCX49UfbmLj9vY7FKpKZPWfeDl6q3iyfuwA6
oekoSvDE2/B33+pPg8nMHmb7Hw8vTwnN8wkqxuopavDXNn8EnQG8HVMr5tvgV/PzEIKKkF1EyQwl
NRyKGjzL9KVcQCo739rzq/kihHBVL2VZMyc+5GCP1OERg5TsHCqvePMq5QpS2XQLvIezoxBDCQeH
otY88UjgNRnfntNzzH6r6wrpFVpdYtMulIMAXhvy6GoslR1u17zS08upqxylW2NeC/DE6CuPb2u+
VHgD3k3FbzTPNPzX1ezpbtw1haud/xJUWODQawJ+G8mMVYlx9rwyr+emtgfF4TEU0BXqlEmOV+Wm
0xoYC3MMyBpDuYVzjNUdaZ1Jt//5C4lb3/hMcjzSW1315iDF+ZX6A6TvaLpZutJbTfmqMXHF9YLx
oGmeavrF+gNvzbeVs1hH2uLZMVxhXExEafY7u03EdXl9W4LTcnh2oqN0elzTjxI8y+QBRTFDU8bi
HHCiBM8qZCjLWJoCJkf7UYFnah1QFjBt0/csXetifhTgaa9TeGNcXHiUrgm8xutTSat+8Wul50//
VLG6KsK+x/OK8ywPb3m37isrt+sqpeOjOXTmn3t4F/P3f0bF/CK0i0wVeLa5dzg6JxYGuqjUlbIp
1s7WbuN0fIid0XkNpFubziLqZuOZdZnBMHdXre8Pde2ra/Y+DfVT2wtFAm2T+AIOdO11tebpieX5
m3VADHoxrrOAsEHTfP6Ayx0YsYS/5gRahdmWQqVtygDd+uvCBs++kXUWDtSW4rzMbEiiKFA8a7Ju
dYIIhE5rdGDx2ZbWQ0OSw+VqvgYhRjhMUySgIzC31K2bk2I43cDkHt7jObaWxjeRymo7RfVdJHZ3
NbV5swTghMP08RNW60qQ7UD7mgBTIyLLm7dLUcpNxGImpw1VD95xgD4F4PBD1mAOvWflB7Q9Okti
pF0KZc4f3bUHbD0FfABXhzo3ewxgATqzDvW5T+D+wPt0gqEC00+mdW5uU/DMvvNNKwyiqMsD9Dz3
OkLuQCL9331s4PBrH4GLXg1MvULTvL8Ow0hzHJtqnmCab5/NPgnSfbe+byUcaVQhxHy0Hxh1ArGF
QF3Oyla2HrGvQ4hcGKAdPnrXfCci2g4vmmlI6/u6Xq2hCiHLeCtW7MW8+2f2OnXaHxtSB5TzGSld
FXVejW1bn5LS3Tn9DgxUwtRwdOB1wonwefhmHyEYv0v/C1JYcm0vlFVdAAAAAElFTkSuQmCC" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/angular-loading-bar/build/loading-bar.min.css">
    <link rel="stylesheet" href="https://rawgit.com/dbtek/angular-aside/master/dist/css/angular-aside.css" />
    <link rel='stylesheet' href='/css/style.css' />

    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>

    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <!-- <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->

    <script src="/bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
    <script src="/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src='/bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
    <script src='/bower_components/angular-modal-service/dst/angular-modal-service.js'></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="https://rawgit.com/dbtek/angular-aside/master/dist/js/angular-aside.js"></script>

    <script src="/js/bundle.js" charset="utf-8"></script>
</head>

<body ng-app='myApp' ng-controller='mainCtrl' ng-init="active=true">
    <div ng-hide='!currentUser' class="navbar navbar-default navbar-fixed-top">
        <span class="navbar-button-o" onclick="openNav()">
            <i class="fa fa-2x fa-bars" aria-hidden="true"></i>
        </span>
        <!-- <span onclick="openNav()">open</span> -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                </button>
            </div>
            <div class="navbar-collapse collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <li ng-hide='currentUser'><a ui-sref='register'>Register</a></li>
                    <li ng-hide='currentUser'><a ui-sref='home'>Login</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <img ui-sref='profile.booksFeed' sytle='width:30;height:30;' class='nav-profile' ng-hide='!currentUser.image' ng-src={{currentUser.image}} alt="" />
                        <img ui-sref='profile.booksFeed' sytle='width:30px;height:30px;' class='nav-profile' ng-show='!currentUser.image' ng-src='https://lh3.googleusercontent.com/-O6osqAarBVc/AAAAAAAAAAI/AAAAAAAAAAA/72ZfpsMiU74/photo.jpg' alt="" />

                    </li>
                    <li class="dropdown">
                        <a data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.firstName || 'hello'}}
            <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="profile.profileEditor" ng-click='showForm()'><span class='glyphicon glyphicon-edit'></span> Edit Profile</a></li>
                            <li><a ui-sref="profile.profileImageUpload"><i class="fa fa-upload" aria-hidden="true"></i> Upload picture</a></li>
                            <li class="divider"></li>
                            <li ng-show='currentUser'>
                                <a ng-click='logout()'> <i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                            </li>
                        </ul>

                    </li>
                </ul>
            </div>
        </div>
    </div>

    <ui-view class='main-view' autoscroll="true"></ui-view>
</body>
<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }
</script>
<script type="text/javascript">
    $.material.init()
</script>

</html>
