.wishlist-container {
    max-height: 1500px;
    overflow-y: scroll !important;
    min-height: 100vh;
    height: 100%;
    background: white;
    margin-right: 15px;
    .form-header {
        clear:both !important;
    }
    input {
        // border: 1px solid lightgrey !important;
        border-bottom: none !important;
        padding-left: 20px;
    }
    .result-container {
        margin-top:40px !important;
        clear:both !important;
        display: block;
        .search-result {
            min-height:300px !important
        }
        .search-result-image img {
            border: 1px solid lightgrey !important;
            float:left;
            margin-right: 20px;
        }
        .button-container {
            clear:both;
        }
    }

}
