div.new-book {
    width: 80% !important;
    margin-left: 10%;
    padding: 30px;
    textarea {
        border: 1px solid $color-secondary !important;
        border-bottom: none !important;
        border-radius: 5px !important;
        padding:20px;
    }
}

.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;

  .star {
    padding: 1px;
    color: #ddd;
    font-size: 20px;
    text-shadow: .05em .05em #aaa;
    list-style-type: none;
    display: inline-block;
    cursor: pointer;

    &.filled {
      color: #fd0;
    }
  }

  &.readonly .star.filled {
    color: #666;
  }
}
