.books-detail-container {
    background: $color-body-main;
    margin: 10px 20px 10px 5px !important;
    .book-container {
        padding: 20px;
        display: block;
        // box-shadow: 1px 1px 1px 1px $color-secondary;
        div.feed-image {
            float: left !important;
            max-width: 200px !important;
            img {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        .owner {
            padding-top: 5px;
            clear: both;
            width: 100%;
            overflow: hidden;
            position: relative;
            .book-date {
                float: right !important;
                margin-right: 0;
                padding-right: 0;
            }
            img {
                float: left !important;
                width: 50px;
                border: 2px solid $color-secondary;
                border-radius: 50%;
                margin-bottom: 10px !important;
            }
            span {
                padding: 10px 20px;
                margin-left: 40px !important;
                width: 100%;
                float: left;
            }
            button {
                position: absolute;
                top: 0;
                right: 0;
                float: right;
                padding: 10px 20px;
                margin: 0;
                color: $color-btn-delete;
                background: transparent;
                font-size: 1.2em;
                &:hover {
                    background: transparent;
                    color: #96281B;
                }
            }
        }
        .text-container {
            height: 100%;
            max-width: 300px;
            position: relative;
            bottom: 20px;
            float: left;
            margin-top: 0 !important;
            margin-bottom: 10px !important;
        }
        .description {
            width: 100%;
            float: left;
        }
        .reaction-buttons {
            background: $color-btn-delete;
            .readit {
                background: $color-body-main;
                border: 1px solid $color-primary;
                span {
                    background: grey;
                    color: $color-body-main;
                }
            }
            .likes {
                float: right;
                padding: 5px 7px;
                margin-left: 0;
                border-radius: 50%;
                background: transparent;
                &:hover {
                    background: $color-primary !important;
                    color: $color-body-main;
                }
            }
        }
        .comments-container {
            background: #F6F6F6;
            clear: both;
            padding: 10px 20px;
            div.row.main {
                margin-bottom: 0 !important;
                .comment-header {
                    img {
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                .comment-main span {
                    color: $color-primary;
                }
                .comment-date {
                    float: right;
                    margin-right: 0;
                    padding-right: 0;
                }
                hr {
                    width: 100%;
                    margin-bottom: 5px;
                }
            }
            .form-container {
                div.form-group {
                    box-sizing: border-box;
                    img {
                        width: 55px;
                        height: 55px;
                        float: left;
                    }
                    textarea.form-control {
                        margin-left: 10px;
                        padding-left: 10px;
                        background: $color-body-main;
                        width: 100%;
                    }
                }
                .col-xs-1,
                .col-xs-10 {
                    margin: 0;
                    padding-left: 0 !important;
                    .btn {
                        float: left;
                        padding: 5px 10px;
                        position: relative;
                        bottom: 10px;
                        .glyphicon {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
}
@media (min-width: 1200px) {
    .book-feed-container {
        max-height: 1500px !important;
        overflow-y: scroll !important;
        .book-container {
            margin-top: 20px !important;
            padding: 20px;
            display: block;
            div.feed-image {
                float: left !important;
                max-width: 200px !important;
                img {
                    border: 1px solid $color-secondary !important;
                    margin-right: 10px;
                }
            }
        }
    }
}
