.books-feed-container {
    padding-top:15px;
    max-height: 1500px;
    overflow-y: scroll;
    .book-container {
        background: $color-body-main;
        margin-right: 15px !important;
        margin-bottom: 10px !important;
        padding: 20px;
        display: block;
        div.feed-image {
            float: left !important;
            max-width: 200px !important;
            img {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }
        hr {
            margin:0 !important;
            padding:0 !important;
        }
        .owner {
            clear:both;
            clear: both;
            width: 100%;
            overflow: hidden;
            padding-bottom: 10px !important;
            img {
                float: left !important;
                width: 50px;
                height: 50px;
                border: 1px solid $color-secondary;
                border-radius: 50%;
            }
            .owner-name {
                margin-left: 10px;
                font-size: 1.5em;
                padding-top: 15px !important;
                margin-bottom: 0 !important;
            }
            span.comment-date{
                padding: 10px 20px;
                float:right;
            }
        }
        .text-container {
            height: 100%;
            max-width: 50%;
            position: relative;
            bottom: 20px;
            float: left;
            margin-top: 0 !important;
            margin-left: 10px !important;
            line-height: 1;

        }
        .description {
            width: 100%;
            margin-top:0;
            float: left;
        }
        .reaction-buttons {
            margin-left:0!important;
            .readit {
                background: $color-body-main;
                border: 1px solid $color-tertiary;
                color:$color-primary;
                padding: 5px ;
                span {
                    background: $color-tertiary;
                    color: $color-body-main;
                }
            }
            .comments {
                float: left !important;
                padding: 5px 7px;
                margin-top: 10px;
                margin-right: 10px;
                // font-size: 0.8px;
            }
            .like-btn {
                margin-left:20px !important;
                padding:0 !important;
                width: 20px !important;
                .selected {
                    background: $color-primary !important;
                    color:$color-body-main;
                }
                .notSelected {
                    background: transparent !important;
                }
                .selected2 {
                    background: $color-secondary !important;
                }
                .notSelected2 {
                    background: transparent !important;
                }
            }
            .likes {
                float: right;
                padding: 4px 7px;
                border-radius: 50%;
                background: transparent;
                color:$color-tertiary;
                &:hover {
                    background: $color-primary !important;
                    color:$color-body-main;
                }
                .fa {
                    font-size: 1.5em;
                }
            }
            .disliked {
                float: right;
                padding: 4px 7px;
                border-radius: 50%;
                background: transparent;
                color:$color-tertiary;
                &:hover {
                    background: $color-tertiary !important;
                    color:$color-body-main;
                }
                .fa {
                    font-size: 1.5em;
                }
            }
        }
        .comments-container {
            clear: both;
            padding: 10px 20px;
            background: #F1F1F1;
            div.row.main {
                margin-bottom: 0 !important;
                margin-right: 0 !important;
                .comment-header {
                    img {
                        width: 30px;
                        height: 30px;
                        overflow: hidden;
                        border-radius: 50%;
                    }
                }
                .comment-main span {
                    color:#666666;
                }
                .comment-date {
                    float:right;
                    margin-right: 0;
                    padding-right: 0;
                }
                hr {
                    width:100%;
                    margin-bottom: 5px;
                }
            }
            .form-container {
                div.form-group {
                    box-sizing: border-box;
                    img {
                        width: 55px;
                        height: 55px;
                        float: left;
                    }
                    textarea.form-control {
                        margin-left: 10px;
                        padding-left: 10px;
                        background: $color-body-main;
                        width: 100%;
                        border-box: 1px 1px 1px solid $color-secondary !important;
                    }

                }
                .col-xs-1,
                .col-xs-10 {
                    margin: 0;
                    padding-left: 0 !important;
                    .btn {
                        float: left;
                        padding: 5px 10px;
                        position: relative;
                        bottom: 10px;
                        .glyphicon {
                            font-size: 1.5em;
                        }
                    }
                }
            }
        }
    }
}
.send {
    background: $color-primary !important;
    color:$color-body-main !important;
    &:hover {
        background: darken($color-primary, 0.1);
    }
}

@media (min-width: 767px) {
    .book-feed-container {
        max-height: 1500px !important;
        overflow-y: scroll !important;
        .book-container {
            margin-top: 20px !important;
            padding: 20px;
            display: block;
            div.feed-image {
                float: left !important;
                max-width: 200px !important;
                img {
                    border: 1px solid $color-secondary !important;
                    margin-right: 10px;
                }
            }
        }
    }
    .text-container {
        height: 100%;
        max-width: 50%;
        position: relative;
        bottom: 20px;
        float: left;
        margin-top: 0 !important;
        margin-left: 10px !important;
        line-height: 1.5 !important;

    }
}
