.book-detail-container {
    margin-top:40px !important;
    // clear:both !important;
    display: block;
    div.search-result-image {
         float:left !important;
         width:200px !important;
         img {
            border: 1px solid lightgrey !important;
            margin-right: 10px;
        }
    }

}
