new-book > btn {
    border: 1px solid $color-primary !important;
    border-radius: 5px !important;
}
.btn-default {
    color: #333;
    background-color: $color-body-main;
    border-color: #ccc;
}
