.follower-container {
    min-height: 800px;
    .follower_user {
        padding: 10px;
        margin-top: 10px;
        box-shadow: 1px 1px 1px 1px lightgrey;
        height: 300px;
        min-width: 200px;
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            border: 5px solid lightgrey;
            // float: left;
        }
        .profile-meta {
            margin-top: 20px !important;
            a {
                text-decoration: none;
            }
            .address-line {;
                margin-top: 0;
            }
        }
        .follow-container {
            height: 40px !important;
            .following {
                background: #009688 !important;
                color:white !important;
            }
            button {
                margin: 5px;
                margin-bottom: 15px !important;
                background: transparent !important;
                border: 1px solid #009688 !important;
                border-radius: 5px;
                color: #009688 !important;
                padding: 5px 20px !important;
                text-transform: lowercase !important;

            }
        }
        .followers {
            margin: 0 !important;
            font-weight: bold;
            .left {
                // margin-right: 20px;
            }
            .badge {
                padding: 1px 10px;
            }
        }
    }
}
