.miles {
    color: $color-primary;
}
hr {
    // width:100%;
    margin: 0 0 5px;
    padding-left: 0 !important;
}
.friendList {
    min-height: 100vh;
    overflow-y: scroll;
}
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 0;
}
@media (min-width: 767px) {
    .form-inline {
        padding: 0 !important;
        margin: 0 !important;
        .input-group {
            margin-left: 0 !important;
        }
    }
    .friendList_hr {
        margin: 5px 10px 10px 20px !important;
        padding-right: 30px;
        background: $color-body-main;
    }
    div.list-group-item {
        margin: 0 auto !important;
        width: 100%;
        box-sizing: border-box !important;
    }
    .list-group-item {
        padding: 5px 0 0 20px !important;
        &:hover {
            box-sizing: border-box !important;
            // color:$color-secondary;
            background: #E6E6E6;
            box-sizing: border-box;
        }
    }
    div.form-group.list-group {
        margin: 0 !important;
        padding: 0 1px 0 0;
        width: 100% !important;
    }
    .circle {
        width: 50px !important;
        height: 50px !important;
    }
    div.col-xs-3 {
        padding-left: 0;
        margin-left: 0;
    }
    div.list-group-item.ng-scope {
        margin: 0 !important;
        padding: 0 !important;
    }
}
