.friendDetail_container {
    max-height: 1500px;
    overflow-y: scroll;
    padding: 20px;
    min-width: 300px;
    background: $color-body-main;
    margin-right: 20px;
    // box-shadow: 1px 1px 1px 1px $color-secondary;
    .single_user {
        background: #F1F1F1;
        padding: 10px;
        margin-right: 10px;
        border: 1px solid $color-secondary;
        height: 120px;
        border-radius: 5px 5px 0 0;
        img {
            width: 100px;
            height: 100px;
            float: left;
            border-radius: 50%;
        }
        .profile-meta {
            margin-top: 30px !important;
            margin-left: 120px !important;
        }
    }
    .additional-info {
        margin-right: 10px;
        border: 1px solid $color-secondary;
        min-height: 40px;
        button {
            margin: 5px;
            background: transparent !important;
            border: 1px solid $color-primary !important;
            border-radius: 5px;
            color: $color-primary !important;
        }
        .following {
            background: $color-primary !important;
            color: $color-body-main !important;
        }
        body {
            position: absolute;
            z-index: 9999;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.8;
        }
        .ng-modal-dialog {
            /* A centered div above the overlay with a box shadow. */
            z-index: 10000;
            position: absolute;
            width: 70% !important;
            height: 30% !important;
            /* Default */
            /* Center the dialog */
            top: 200px;
            left: 60%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            background-color: #fff;
            box-shadow: 4px 4px 80px grey;
            padding:30px !important;
            textarea {
                padding: 10px !important;
                outline: none !important;
                border: 1px solid lightgrey;
                border-bottom: none;
            }
        }
        .ng-modal-dialog-content {
            padding: 10px;
            text-align: left;
        }
        .ng-modal-close {
            position: absolute;
            top: 3px;
            right: 5px;
            padding: 5px;
            cursor: pointer;
            font-size: 120%;
            display: inline-block;
            font-weight: bold;
            font-family: 'arial', 'sans-serif';
        }
    }
    .interest {
        margin-bottom: 60px;
    }
    clear: both !important;
    .single_book {
        float: left;
        padding: 10px;
        box-shadow: 1px 1px 1px 1px $color-secondary;
        margin-right: 20px;
        max-width: 150px;
        margin-bottom: 20px;
        height: 320px !important;
        overflow: hidden;
        border: 1px solid $color-secondary;
        img {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0 auto;
        }
    }
    .wish-list {
        clear: both;
    }
}
