.miles {
    color: blue;
}

@media (min-width: 1200px){
    .form-inline {
        // background: red;
        padding:0 !important;
        margin:0 !important;
    }
    .friendList_hr {
        margin: 5px  10px 10px 20px !important;
        padding-right:30px;
        background: white;
    }
    div.list-group-item {
        margin-bottom: 0;
        margin-right: 0 !important;
        padding: 5px 0 !important;
        margin: 0 !important;
        width:100%;
        box-sizing: border-box !important;
    }
    .list-group-item:hover {
        border-bottom:1px solid darken(#ecf0f1, 10);
        box-sizing: border-box !important;
    }
    div.form-group.list-group{
        margin: 0 !important;
        padding: 0  1px 0 20px;
        width:100% !important;
    }
    .circle {
        width:50px !important;
        height:50px !important;
    }
    div.col-xs-3 {
        padding-left: 0;
        margin-left: 0;
    }
    div.list-group-item.ng-scope {
        margin: 0 !important;
        padding: 0 !important
    }

}
