.header {
    div.row {
        padding-left: 60px;
        margin: 0 auto !important;
        padding-top: 60px !important;
        // background-color: $color-primary;
        background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
        h1 {
            color: $color-body-main;
            font-weight: bold;
            font-size: 2em;
        }
        .logo {
            margin-top:20%;
        }
        .main-title {
            padding-left:40px;
        }
        div.login_container {
            padding-top: 20px !important;
            width: 90% !important;
            background-color: #ecf0f1;
            padding: 40px;
            margin-left:20px;
            margin-top: 60px;
            color: silver !important;
            input {
                padding-left: 10px;
            }
        }
        .returning-user {
            margin-left: 20px;
            a {
                color: $color-body-main;
            }
        }
        .scroll-down {
            color: $color-body-main;
            bottom:40px;
            margin-top: 60px;
            cursor: pointer;
        }
    }
}
.about {
    padding-top: 20px;
    min-height: 260px;
    height: auto;
    background: #ecf0f1;
    h2 {
        color: $color-primary !important;
        font-weight: bold;
    }
    h1 {
        font-size: 1.5em;
    }
}
.intro {
    padding-top: 20px;
    min-height: 460px;
    background: $color-body-main;
    h2 {
        color: $color-primary !important;
        font-weight: bold;

    }
    .how-it-works {
        padding: 30px;
        h3 {
            font-size: 1.5em;
        }
    }

}
.imgContainer{
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 500px;
    border: 5px solid $color-primary;
    transition: .1s all ease-in-out;
    .about-image {
        transition: .1s all ease-in-out;
        height: 100%;
        top: 0px;
        left: 0px;
        right:0px;
        margin: auto;
    }

    &:hover{
        transition: .1s all ease-in-out;
        .about-image {
            transition: .1s all ease-in-out;
            height: 120%;
            top: 20px;
        }
    }
}
.detail {
    padding-top: 20px;
    min-height: 460px;
    background: #ecf0f1;
    padding-bottom: 20px !important;
    h2 {
        color: $color-primary !important;
        font-weight: bold;

    }
    h3 {
        font-size: 1.5em;
    }

}
.footer {
    min-height:140px;
    padding-top:20px;
    height: auto !important;
    background: $color-primary !important;
    color:$color-body-main;
    margin:0 !important;
    p a {
        color: $color-body-main;
    }
}
@media (min-width: 768px){

    h1 {
        font-size: 3em !important;
    }
    .main-title {
        padding-left:10px !important;
    }
    .about {
        min-height: 400px;
    }
    .footer {
        min-height: 80px;
    }
}
