.header {
    div.row {
        padding-left: 60px;
        margin: 0 auto !important;
        padding-top: 20px !important;
        background-color: $color-primary;
        background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
        h1 {
            color: $color-body-main;
            font-weight: bold;
            font-size: 2em;
        }
        h3 {
            font-size: 2.5em !important;
        }
        .logo {
            margin-top: 20%;
        }
        .main-title {
            padding-left: 40px;
        }
        div.login_container {
            width: 90% !important;
            background-color: #ecf0f1;
            padding: 40px;
            margin: 60px auto 0;
            color: silver !important;
            input {
                padding-left: 10px;
            }
        }
        .returning-user {
            margin-left: 20px;
            a {
                color: $color-body-main;
            }
        }
        .scroll-down {
            color: $color-body-main;
            bottom: 40px;
            margin-top: 60px;
            cursor: pointer;
        }
    }
}
.about {
    padding: 20px;
    min-height: 260px;
    height: auto;
    line-height: 1.5rem;
    background: $color-body-main;
    h2 {
        color: $color-primary !important;
        font-weight: bold;
        font-size: 2.5em;
    }
    h3 {
        font-size: 2em;
    }
}
.intro {
    padding: 20px;
    min-height: 400px;
    background: $color-body-main;
    h2 {
        color: $color-primary !important;
        font-weight: bold;
        font-size: 2.5em;
    }
    .how-it-works {
        padding: 20px;
        h3 {
            font-size: 1.8em;
        }
    }
}
.imgContainer {
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 300px;
    border-radius: 500px;
    border: 5px solid $color-primary;
    transition: 0.1s all ease-in-out;
    .about-image {
        transition: 0.1s all ease-in-out;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    &:hover {
        transition: 0.1s all ease-in-out;
        .about-image {
            transition: 0.1s all ease-in-out;
            height: 120%;
            top: 20px;
        }
    }
}
.detail {
    padding: 20px !important;
    min-height: 400px;
    background: $color-body-main;
    padding-bottom: 40px !important;
    h2 {
        color: $color-primary !important;
        font-weight: bold;
    }
    .how-it-works {
        padding: 20px;
        h3 {
            font-size: 1.8em;
        }
    }
}
.footer {
    min-height: 140px;
    padding-top: 20px;
    height: auto !important;
    background: $color-primary !important;
    color: $color-body-main;
    margin: 0 !important;
    p a {
        color: $color-body-main;
    }
}
.col-xs-12 {
    padding-right: 0 !important;
}
@media (min-width: 767px) {
    .header {
        div.row {
            padding-top: 60px !important;
        }
        h1 {
            font-size: 3em !important;
        }
        .main-title {
            padding-left: 10px !important;
        }
    }
    .about {
        min-height: 300px;
        text-align: center;
        h3 {
            font-size: 2.5em;
        }
    }
    .intro {
        .imgContainer {
            float: right;
        }
    }
    .detail {
        padding: 30px;
        .imgContainer {
            float: left;
        }
    }
    .footer {
        min-height: 80px;
    }
}
