.book_container {
    // border-left: 1px solid grey;
    // border-top: 1px solid grey;
    margin-bottom: 20px;
    height: 360px;
    padding:10px;
    box-shadow: 1px 1px 1px 1px  grey;
    img {
        width: 150px;
        height: 200px;
    }
}
