.collection-container {
    min-width: 300px;
    margin: 0 auto;
    margin-right: 15px;
    margin-top: 0 !important;
    padding:20px;
    padding-top: 0;
    hr {
        background: $color-body-main;
        margin-bottom: 10px;
    }
    .book_container {
        margin-bottom: 20px;
        max-width:200px;
        height: 340px;
        padding:10px;
        box-shadow: 1px 1px 1px 1px  $color-secondary !important;
        border:none !important;
        box-sizing: border-box;
        margin-right: 10px;
        background: $color-body-main;
        transition: .2s all ease-in-out;
        .image-container img {
            max-width: 150px;
            max-height: 200px;
            height:auto;;
        }
    }
    .add-new {
        display: block;
        clear:both !important;
        margin-top: 60px !important;
        .btn {
            background: $color-primary;
            color:$color-body-main;
        }
    }

}
@media (min-width: 767px){
    .collection-container {
        .book_container {
            box-shadow: 1px 1px 1px 1px $color-secondary !important;
            margin-bottom: 20px;
            max-width:200px;
            height: 340px;
            padding:10px;
            border: none !important;
            margin-right: 10px;
            transition: .2s all ease-in-out;
            .image-container img {
                max-width: 150px;
                max-height: 200px;
                height:auto;;
            }
        }
        .add-new {
            display: block;
            clear:both !important;
            margin-top: 60px !important;
        }
    }
}
