.book_container {
    margin-bottom: 20px;
    min-width:150px;
    padding:20px;
    box-shadow: 1px 1px 1px 1px  grey;
    img {
        width: 150px;
        height: 200px;
    }
}
// button {
//     margin-bottom: 20px !important;
// }
.add-new {
    display: block;
    clear:both;
    margin-top: 60px !important;
}
