div.row {
    padding: 0 !important;
    margin: 0 !important;
}
.navbar {
    border-radius: 0;
    background-color: #454C58;
    margin-bottom: 0;
}
.profile {
    background-color: $color-body-main;
    padding: 60px 0 0 0 !important;
    min-height: 600px;
    height: auto;
    .profile_main {
        background-color: #F1F1F1;
        height: 100%;
        margin-right: 0 !important;
        padding-right: 0 !important;
        padding-left: 15px !important;
    }
    .profile_right {
        display: none;
        height: auto;
        height: 100vh;
        overflow-y: scroll;
    }
    .profile_left {
        padding-top: 40px !important;
        height: 100vh;
        .profile_picture {
            width: 150px;
            height: 150px;
            border: 5px solid $color-body-main;
        }
        .edit-profile {
            padding-left: 30px;
        }
        .profile_navigator {
            ul {
                list-style-type: none;
                padding-left: 20px !important;
                width: 100%;
                height: 40px;
                li {
                    list-style: none;
                    line-height: 0.7;
                    padding: 10px 20px;
                    margin-bottom: 5px;
                    color: $color-tertiary;
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 8px 0;
                        color: silver !important;
                    }
                    &:hover {
                        color: $color-primary;
                    }
                    .logout a {
                        font-size: 0.5em !important;
                    }
                }
            }
        }
    }
    .sidenav a {
    font-size: 16px;
    }
    .editProfile {
        padding: 0 1px;
        background-color: transparent;
        border: none;
        position: relative;
        bottom: 60px;
        right: 25px;
    }
    .user_list {
        margin-top: 30px;
        margin-left: 20px;
    }
    .user_list_image {
        width: 30px;
        height: 30px;
        border: 1px solid $color-tertiary;
    }
}
.footer_div {
    border-top: 1px solid $color-secondary !important;
    background: $color-body-main;
    padding-top: 10px;
    min-height: 40px;
    margin-bottom: 0 !important;
    a {
        color: #252525 !important;
    }
}
@media (min-width: 767px) {
    .profile_left {
        padding-right: 10px !important;
        .profileholder {
            display: none;
        }
        .logout {
            display: none;
        }
    }
    .profile_main {
        background-color: $color-body-main;
        min-height: 1500px !important;
        height: 100%;
        margin-right: 0 !important;
        padding-right: 0 !important;
        .slideup {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
        }
        .slideup.ng-enter,
        .slideup.ng-leave {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        .slideup.ng-enter {
            top: 100%;
        }
        .slideup.ng-enter-active {
            top: 0;
        }
        .slideup.ng-leave {
            top: 0;
        }
        .slideup.ng-leave-active {
            top: -100%;
        }
    }
    .profile_right {
        display: block !important;
        min-height: 1500px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
}
