div.row {
    padding: 0 !important;
    margin: 0 !important;
}
.navbar {
    border-radius: 0;
    background-color: #454C58;
    margin-bottom: 0;
}
.profile {
    background-color: #ecf0f1;
    padding-top: 60px;
    margin-right: 20px;
    padding-right: 0;
    padding-left: 10px;
    min-height: 800px;
    height: auto;
    .profile_main {
        background-color: white;
        height: 100%;
        padding-top: 10px;
        margin-right: 0 !important;
        padding-right: 0 !important;
    }
    .profile_right {
        // display: none;
        height: auto;
        max-height: 1000px;
        overflow: scroll;
    }
    .profile_left {
        padding-top: 20px !important;
        padding-left: 10px !important;
        .profile_picture {
            width: 150px;
            height: 150px;
            // border-radius: 50%;
            border: 5px solid white;
        }
        .edit-profile {
            padding-left: 30px;
        }
        .profile_navigator {
            ul {
                margin-top: 20px;
                list-style-type: none;
                padding: 0 !important;
                width: 100%;
                height: 40px;
                li {
                    list-style: none;
                    // border: 1px solid white;
                    box-shadow: 1px 0 1px 1px lightgrey;
                    padding: 10px 20px;
                    margin-bottom: 5px;
                    color: #252525;
                    a {
                        text-decoration: none;
                        display: block;
                        padding: 8px 0;
                    }
                    &:hover {
                        background: darken(#ecf0f1, 10);
                    }
                }
            }
        }
    }
    .editProfile {
        padding: 0 1px;
        background-color: transparent;
        border: none;
        position: relative;
        bottom: 60px;
        right: 25px;
    }
    .user_list {
        margin-top: 30px;
        margin-left: 20px;
    }
    .user_list_image {
        width: 30px;
        height: 30px;
        // border-radius: 50%;
        border: 1px solid grey;
    }
    .user_list_text {
        // margin-left:10px;
    }
}
.footer_div {
    background: #16A085;
    padding-top: 10px;
    min-height: 40px;
    margin-bottom: 0 !important;
    a {
        color: silver !important;
    }
}
@media (min-width: 1200px) {
    .profile_left {
        padding-left: 20px !important;
        padding-right: 10px !important;
    }
    .profile_main {
        background-color: white;
        min-height: 1500px !important;
        height: 100%;
        padding-top: 10px;
        margin-right: 0 !important;
        padding-right: 0 !important;
        .slideup {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 100%;
        }
        .slideup.ng-enter,
        .slideup.ng-leave {
            -webkit-transition: all 1s ease;
            transition: all 1s ease;
        }
        .slideup.ng-enter {
            top: 100%;
        }
        .slideup.ng-enter-active {
            top: 0;
        }
        .slideup.ng-leave {
            top: 0;
        }
        .slideup.ng-leave-active {
            top: -100%;
        }
    }
    .profile_right {
        display: block;
        min-height: 1500px !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    // .footer_div {
    //     background: #03A678;
    //     padding-top: 10px;
    //     min-height: 40px;
    //     padding-left:0 !important;
    //     margin-left:0 !important;
    // }
}
