div.profile-editor {
    width: 80% !important;
    // background: #ecf0f1 !important;
    margin-left: 10%;
    padding: 30px;
    textarea {
        border: 1px solid lightgrey !important;
        border-bottom: none !important;
        border-radius: 5px !important;
        padding:20px;
    }
}
