div.profile-editor {
    width: 100% !important;
    min-width: 300px !important;
    // margin-left: 10%;
    padding: 10px;
    overflow: scroll;
    textarea {
        border: 1px solid lightgrey !important;
        border-bottom: none !important;
        border-radius: 5px !important;
        padding:20px;
    }
}
@media (min-width: 768px) {
    div.profile-editor {
        width: 80% !important;
        margin-left: 10%;
    }
}
