.register-container {
    // background: #00aa9a !important;
    a {
        // color:white !important;
    }
    .register {
        margin-bottom: 20px;
        padding:0 40px 40px 40px;
        margin-top: 40px;
        background: white;
    }
    .login {
        margin-bottom: 40px !important;
        p {
            margin-left:20px;
        }
    }
}
@media (min-width: 768px){
    .register {
        // padding:0;
    }
}
