.friendlist_container {
    max-height: 1500px;
    overflow-y: scroll;
    padding: 20px;
    .search {
        margin-right: 40px !important;
        min-width: 200px;
        input {
            border: 1px solid lightgrey !important;
            border-bottom: none !important;
            border-radius: 20px !important;
            padding-left: 20px;
        }
    }
    .single_users {
        padding: 5px;
        margin-top: 20px;
        box-shadow: 1px 1px 1px 1px lightgrey;
        height: 250px;
        min-width: 120px;
        .following {
            background: #009688 !important;
            color:white !important;
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 5px solid lightgrey;
            // float: left;
        }
        .profile-meta {
            // margin-top: 20px !important;
            // margin-left: 120px !important;
            a {
                text-decoration: none;
            }
            .address-line {
                // float:left;
                margin-top: 0;
            }
        }
        button {
            margin: 5px;
            background: transparent !important;
            border: 1px solid #009688 !important;
            border-radius: 5px;
            color: #009688 !important;
            padding: 5px 10px !important;
            text-transform: lowercase !important;
        }
        .followers {
            margin-top: 20px;
            font-weight: bold;
            .left {
                // margin-right: 20px;
            }
            .badge {
                padding: 1px 10px;
            }
        }
    }
}
.form-inline .input-group > .form-control{
    width:90%;
}
@media (min-width: 768px) {
    .form-inline .input-group > .form-control {
        margin-left: 0!important;
        width: 95%;
        border-: 1px solid grey !important;
        border-radius: 5px;
    }
    div.col-xs-12.col-lg-3 {
        padding:5px !important;
    }
}
