.friendlist_container {
    max-height: 1500px;
    overflow-y: scroll;
    padding: 20px;
    padding-bottom: 60px !important;
    .col-xs-12.col-lg-4 {
        padding-left: 0 !important;
    }
    .search {
        min-width: 200px;
        margin-right: 20px !important;
        input {
            padding-left: 20px;
            outline: none !important;
        }
    }
    .single_users {
        padding: 5px;
        margin-top: 15px;
        margin-right: 15px;
        box-shadow: 1px 1px 1px 1px $color-secondary;
        background: $color-body-main;
        height: 250px;
        min-width: 120px;
        .following {
            background: $color-primary !important;
            color:$color-body-main !important;
        }
        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            border: 5px solid $color-secondary;
        }
        .profile-meta {
            margin-top: 5px !important;
            a {
                text-decoration: none;
            }
            .address-line {
                margin-top: 0;
            }
        }
        button {
            margin: 5px;
            background: transparent !important;
            border: 1px solid $color-primary !important;
            border-radius: 5px;
            color: $color-primary !important;
            padding: 5px 10px !important;
            text-transform: lowercase !important;
        }
        .followers {
            margin-top: 5px;
            margin-left: 20px;
            font-weight: bold;
            .badge {
                padding: 1px 10px;
            }
        }
    }
}
.form-inline .input-group > .form-control{
    width:90%;
}
@media (min-width: 768px) {
    .form-inline .input-group > .form-control {
        margin-left: 0!important;
        width: 100%;
        border-:none !important;
        border-radius: 5px;
    }
    div.col-xs-12.col-lg-3 {
        padding:5px !important;
    }
}
