.form-container {
    clear:both !important;
}
.result-container {
    margin-top:40px !important;
    clear:both !important;
    .search-result-image img {
        border: 1px solid lightgrey !important;
        float:left;
    }
}
