@import 'home';
@import 'main';

body {
    margin:0;
    // background-color: silver;
    overflow-x: hidden;
}


.register_container {
    background-color: white;
    padding: 20px 40px;
    // box-shadow: 10px 10px 10px grey;
    margin-bottom: 100px;
    margin-top: 40px;
}


/*image upload*/
.upload_container{
    margin-top:40px;
}
.image_upload {
    // width:100px;
    padding: 20px 100px
}
/*image upload*/
.input-group {
    padding: 0;
    margin:0;
    margin-left:20px;
}
.input-group {
    margin-top:10px;
    margin-right:0;
    width:100%;

}
.homesplash {
    // background-image: url('http://i.imgur.com/XqmPd4X.jpg');
    // width:100%;
    min-height: 600px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    // color:#c0392b;

}
.image_upload {
    border-radius: 10px;
}
div.list-group-item {
    margin-bottom: 0;
    margin:0 !important;
    padding: 0;
}
div.form-group.list-group{
    margin-top:  0;
    padding-top: 0;
}
.footer_div {
    padding-top: 10px;
    min-height: 40px;
}
div.col-xs-3 {
    padding-left: 0;
    margin-left: 0;
}
div.list-group-item.ng-scope {
    margin: 0 !important;
    padding: 0 !important
}
